node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

.tw-patch/
pl-rewrite.code-workspace

# de logs die de installer maakt
nohup.out
install/mongo/

# de prisma client
generated/