@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  font-family: 'Geist', sans-serif;
  @apply bg-neutral-100 dark:bg-neutral-900 dark:text-white
}
